@import "../../App.scss";

.pagination {
  width: 100%;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  @media screen and (max-width: 700px) {
    font-size: 16px;
  }

  @media screen and (max-width: 550px) {
    font-size: 14px;
  }

  @media screen and (max-width: 400px) {
    font-size: 12px;
  }

  .paginationContainer {
    width: 80%;
    max-width: 900px;
    background-color: var(--color-nav);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
      width: 90%;
    }

    @media screen and (max-width: 550px) {
      width: 100%;
    }

    li {
      @media screen and (min-width: 600px) {
        cursor: pointer;
      }
    }

    .paginationPrev,
    .paginationNext {
      width: 120px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 700px) {
        width: 100px;
        height: 40px;
      }

      @media screen and (max-width: 550px) {
        width: 80px;
      }

      @media screen and (max-width: 400px) {
        width: 70px;
      }
    }

    .paginationPrev {
      border-right: 0.1px solid rgba(var(--color-white-rgb), 0.5);
    }

    .paginationNext {
      border-left: 0.1px solid rgba(var(--color-white-rgb), 0.5);
    }

    .paginationActive {
      color: var(--color-primary);
    }

    .paginationDisabled {
      cursor: not-allowed;
      color: rgba(var(--color-white-rgb), 0.5);
    }
  }
}
