.content {
  justify-self: center;
  width: max-content;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &__image {
    width: 225px;
    height: 300px;
    border-radius: 4px;

    @media screen and (max-width: 800px) {
      width: 250px;
      height: 325px;
    }

    @media screen and (max-width: 600px) {
      width: 225px;
      height: 300px;
    }

    @media screen and (max-width: 550px) {
      width: 175px;
      height: 250px;
    }

    @media screen and (max-width: 450px) {
      width: 150px;
      height: 225px;
    }

    @media screen and (max-width: 370px) {
      width: 225px;
      height: 300px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 4px 0px;

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }

    @media screen and (max-width: 450px) {
      font-size: 14px;
    }

    @media screen and (max-width: 370px) {
      font-size: 16px;
    }
  }

  &__info {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__rating {
    background-color: #fff;
    color: #000;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
