@import "../../App.scss";

.search {
  overflow: hidden;

  &__something,
  &__error {
    color: $color-white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
