@import "../../App.scss";

.search {
  margin-bottom: 130px;

  &__something,
  &__error {
    color: $color-white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
